* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.clear {
  clear: both;
}
h1 {
  font-size: 15rem;
}
.btn{
  background-color: #18a4bc !important;
  border-color: #18a4bc !important;
}
.btn1 {
  margin-bottom: 10rem;
  padding: 10px;
  border: 2px;
 
  cursor: pointer;
  width: 50%;
}

